*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear{
    clear: both;
}

.home{
    padding: 0 100px;
}

#header{
    background-color:black;
    height: 58px;
    font-style: bold;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 5;
}

#nav li a{
    padding: 0 24px; 
    line-height: 58px;
    text-decoration: none;
    color:bisque;
    position: relative;
    display: block;
}

#nav li:hover{
    background-color:rgb(17, 129, 133);
    transition: all .5s;
}


#nav >li{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

#nav li:hover .subnav{
    display:block;
}

.subnav{
    box-shadow: 0 0 10px  rgba(0,0,.5);
}

.subnav li{
    list-style-type: none;
    border-bottom: 1px solid gray;
}

#nav .subnav {
    display:none;
    position: absolute;
    background-color: black;
}

.kc{
    margin: 0 15px;
}

.fll{
    float: left;
}

.flr{
    float: right;
    line-height: 58px;
    font-size:  18px;
    margin-right: 10px;
}

.flr a{
    text-decoration: none;
    color: white;
}






.layout{
    margin-top: 50px;
    display: flex;
    height: 200px;
    gap: 10px;
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: cadetblue;
}

.layout > div {
    flex: 1;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.layout> div:hover {
    flex: 3;
}

.back-header {
    background-color: cadetblue;
    height: 665px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    font-size: 50px;
    margin-top: 100px;
    color: rgb(207, 192, 192);
}

h2{
    text-align:center;
    font-size: 25px;
    margin-top: 15px;
    color: antiquewhite;
    letter-spacing: 4px;
}



.btn {
    display: block;
    padding: 0.7em 1em;
    background: transparent;
    outline: none;
    border: 0;
    color: #d4af37;
    letter-spacing: 0.1em;
    font-family: monospace;
    font-size: 17px;
    font-weight: bold;
    z-index: 1;
    margin:auto;
    margin-top: 30px;
   }
   
   .cube {
    position: relative;
    transition: all 0.5s;
   }
   
   .cube .bg-top {
    position: absolute;
    height: 10px;
    background: #d4af37;
    bottom: 100%;
    left: 5px;
    right: -5px;
    transform: skew(-45deg, 0);
    margin: 0;
    transition: all 0.4s;
   }
   
   .cube .bg-top .bg-inner {
    bottom: 0;
   }
   
   .cube .bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #d4af37;
    transition: all 0.4s;
   }
   
   .cube .bg-right {
    position: absolute;
    background: #d4af37;
    top: -5px;
    z-index: 0;
    bottom: 5px;
    width: 10px;
    left: 100%;
    transform: skew(0, -45deg);
    transition: all 0.4s;
   }
   
   .cube .bg-right .bg-inner {
    left: 0;
   }
   
   .cube .bg-inner {
    background: #28282d;
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
   }
   
   .cube .text {
    position: relative;
    transition: all 0.4s;
   }
   
   .cube:hover .bg-inner {
    background: #d4af37;
    transition: all 0.4s;
   }
   
   .cube:hover .text {
    color: #28282d;
    transition: all 0.4s;
        cursor: pointer;
   }
   
   .cube:hover .bg-right,
   .cube:hover .bg,
   .cube:hover .bg-top {
    background: #28282d;
    cursor: pointer;
   }
   
   .cube:active {
    z-index: 9999;
    animation: bounce .1s linear;
   }
   
   @keyframes bounce {
    50% {
     transform: scale(0.9);
    }
   }

   .cartoon{
    text-decoration: none;
}

.header-pro>p{
    font-size:57px;
    text-align: center;
    background-color: grey;
    color: rgb(6, 235, 223);
    padding-top: 25px;
    letter-spacing: 10px;
}

.main-pro{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    padding-bottom: 170px;
}

h3{
    margin: 10px 10px;
    color: bisque;
}

.idol-pro{
    display: flex;
    width: 20%;
    height: 200px;
    margin-top: 40px;
    
}

.idol-pro li {
    padding-bottom: 20px;
    font-size: 20px;
    list-style-type: none;
    transition: all .3s ease;
}

.idol-pro li a{
    text-decoration: none;
    margin-left: 15px;
    color: rgb(0, 10, 148);
}

.idol-pro li a:hover  {
    color: antiquewhite;
    transition: all .4s ;
}

.idol-pro li:hover {
    transform: translateX(20px);
}

.khung-pro{
    width: 80%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}



.product{
    border: 3px solid cadetblue;
    width: calc(80%/4);
    height: 325px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.a-pro{
    text-decoration: none;
}

.img-pro{
    width: 100%;
}

.img-pro:hover{
    opacity: .6;
}

.cont-pro{
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

del {
    opacity: .5;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.red_w{
    color:rgb(228, 5, 5);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}









.infor a{
    position: fixed;
    bottom: 0;
    right: 0;
    text-decoration: none;
    margin-bottom: 300px;
    margin-right: 12px;
    display: none;
}

.infor >a >i{
    font-size: 35px;
    color: bisque;
    border: 2px solid rgb(233, 9, 20);
    background-color: rgb(233, 9, 20);
    border-radius: 50%;
}


.footer{
    background-color:thistle;
}

.main_ft >p{
    text-align: center;
    line-height: 30px;
    padding-top: 60px;
    margin-bottom: 50px;
    font-size: 18px;
}


.sub_ft{
    padding-bottom: 70px;
    text-align: center;
}

.ic_ft{
    margin: 0 17px;
    font-size:30px;
    border: 2px solid royalblue;
    background-color: royalblue;
    color: white;
    border-radius:50%;
    padding: 5px;
    
}

.ti-ft{
    border: 2px solid rgb(211, 9, 9) !important;
    background-color: rgb(211, 9, 9) !important;
}

.sub_ft > a {
    text-decoration: none;
}

.sub_ft > p > a{
    color:black;
    text-decoration: none;
}


.sub_ft >p{
    margin-top: 40px;
}

.sub_ft >p>a:hover{
    opacity: .4;
}





.modal{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        left: 0;
        height: 100%;
        background-color: rgba(0,0,0,.4);
        align-items: center;
        justify-content: center;
        display: none;
        z-index: 12;
        
    }
    .modal.open{
        display: flex;
    }
    .modal-container{
        width:550px;
        background-color: aliceblue; 
        position: relative;
        animation: modalFadeIn ease .8s;
        border: 1px solid rgb(252, 244, 244);
        border-radius:20px;
    }
    
    .modal-close{
        position: absolute;
        font-size: 18px;
        margin: 10px 10px;
        color: black;
        top: 0;
        right: 0;
        cursor: pointer;
        border: 1px solid bisque;
        border-radius: 50%;
        padding-top: 3px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 3px;
        background-color: bisque;
    }
    .modal-close:hover{
        background-color: rgb(248, 55, 55);
        border: 1px solid rgb(248, 55, 55);
        color: whitesmoke;
        transition: all .3s;

    }
    .modal-header{
        font-size: 30px;
        color: beige;
        height: 120px;
        background-color:lightseagreen;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: 1px solid lightseagreen;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

    }
    .modal-body{
        margin: 16px ;
    }
    .modal-label{
        display: block;
        font-weight: bold;
        font-size:18px;
    }
    .modal-input{
        margin-top: 4px;
        margin-bottom: 16px;
        width: 100%;
        padding-left: 8px;
        padding-top: 8px;
        padding-bottom:8px;
        border: 1.5px solid black;
        border-radius: 10px;
    }

    .submit{
        width:100%;
        border: none;
        background-color:lightcoral;
        font-size: 20px;
        margin-top: 15px;
        padding: 15px;
        color: beige;
    }
    .submit:hover{
        background-color:lightgreen;
        color: royalblue;
        cursor: pointer;
        transition: all .5s;

    }
    .foot{
        padding:16px;
        text-align: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    @keyframes modalFadeIn {
        from {
            opacity: 0;
            transform: translateY(-150px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

/* Phần tablet */

@media only screen and (min-width:740px) and (max-width:1023px) {
    .flr {
        display: none !important;
    }

    .hotline {
        display: none !important;
    }

    .home {
        padding: 0 50px;
    }

    .kc{
        margin: 0 8px;
    }

    .product{
        height: 380px;
        width: 39%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .infor a{
        display: block;
        margin-right: 5px;
    }


}



/* Phần mobile */

@media screen and (max-width:739px) {
    .flr{
        display: none !important;
    }

    .home {
        padding: 0 15px;
    }

    .hotline {
        display: none !important;
    }

    .kc{
        margin: 0;
    }

    .more{
        display: none !important;
    }

    .product{
        width: 40%;
        height: 350px;
        margin-bottom: 50px;

    }

    .khung-pro{
        width: 100%;
        margin-left: 25px;
    }

    .idol-pro{
        display: none !important;
    }

    .infor a{
        display: block;
        margin-right: 5px;
        margin-bottom: 315px;
    }
}